.page-services {
  .service-list {
    position: relative;
    overflow: hidden;
    padding-top: 22px;

    &:before {
      @include absolute-content();
      background: url("#{$img-folder}/services/service-bg.png") no-repeat right center;
      width: 445px;
      height: 818px;
      bottom: -95px;
      left: -95px;
      z-index: 1;
    }

    .container {
      position: relative;
      z-index: 5;
    }

    ul {
      list-style: none;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      li {
        text-align: center;
        flex-basis: 20%;
        margin-bottom: 100px;

        &:hover {
          .icon {
            -webkit-animation: tada 1s;
            animation: tada 1s;
          }
        }

        .icon {
          margin-bottom: 51px;
          height: 69px;

          svg {
            fill: rgb(32, 170, 151);
            fill-rule: evenodd;
            display: inline-block;
            height: 100%;
          }
        }

        .service-list__desc {
          p {
            line-height: 24px;
            color: #585858;
            font: {
              family: $font1-Semibold, sans-serif;
              size: 18px;
            };

            strong {
              line-height: 24px;
              font: {
                family: $font1-Extrabold, sans-serif;
                size: 20px;
              };
              color: #000;

            }

            strong, span {
              display: block;
              line-height: 24px;
            }
          }
        }
      }
    }
  }

  .offers-list {
    h2 {
      margin-bottom: 80px;
      margin-top: 35px;
    }

    ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;

      li {
        flex-basis: 50%;
        margin-bottom: 65px;

        &:nth-child(odd) {
          padding-right: 65px;
        }

        &:nth-child(even) {
          padding-left: 65px;
        }

        .icon {
          width: 107px;
          height: 107px;
          border-radius: 50%;
          background-color: #fbfdfd;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 45px;

          svg {
            fill: rgb(32, 170, 151);
            fill-rule: evenodd;
          }
        }

        h4 {
          font: {
            family: $font1-Extrabold, sans-serif;
            size: 20px;
          };
          margin-bottom: 5px;
        }

        p {
          color: #585858;
          font: {
            family: $font1-Semibold, sans-serif;
            size: 18px;
          };
          line-height: 24px;
        }
      }
    }
  }
}

@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}