.footer {
  background-color: #000000;
  color: #ffffff;
  margin-top: 65px;

  a {
    color: #20aa97;
    font: {
      family: $font1-Extrabold, sans-serif;
    };

    &:hover {
      text-decoration: underline;
    }
  }

  .footer__copyrights {
    line-height: 120px;
    text-align: center;
    font: {
      family: $font1-Semibold, sans-serif;
    };
  }
}