.header {
  padding: 31px 0;
  border-bottom: 1px dashed #eaeaea;
  margin-bottom: 104px;

  .header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      flex-shrink: 0;
    }

    // Main nav
    .main-nav {
      padding-top: 5px;

      ul {
        display: flex;
        justify-content: space-between;

        li {
          margin-right: 55px;

          &:last-child {
            margin-right: 0;
          }

          a {
            color: #000;
            font: {
              family: $font1-Extrabold, sans-serif;
              size: 16px;
            };
            transition: all ease 0.3s;
            text-transform: lowercase;
            position: relative;

            &:before {
              @include absolute-content();
              width: 0;
              height: 2px;
              background-color: #000000;
              transition: width 0.3s;
              top: -13px;
              left: 0;
            }

            &:after {
              content: '.';
              font-size: 24px;
            }

            &.active {
              color: #20aa97;
            }

            &:hover {
              color: #20aa97;

              &:before {
                width: 15px;
              }
            }
          }
        }
      }
    }
  }
}